<div class="center jumbotron">
  <div class="text-center">
    <h1>ユーザ登録完了致しました</h1>
    <li>
      <a href="../sessions/new.html.erb">こちらからログインして下さい</a>
    </li>
    //<%= link_to 'こちらからログインしてください', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>